/**:
  moveit_controller_manager: moveit_simple_controller_manager/MoveItSimpleControllerManager

  trajectory_execution:
    allowed_execution_duration_scaling: 1.2
    allowed_goal_duration_margin: 0.5
    allowed_start_tolerance: 0.01
    execution_duration_monitoring: false

  moveit_simple_controller_manager:
    controller_names:
      - scaled_joint_trajectory_controller
      - joint_trajectory_controller

    scaled_joint_trajectory_controller:
      action_ns: follow_joint_trajectory
      type: FollowJointTrajectory
      default: true
      joints:
        - $(var tf_prefix)shoulder_pan_joint
        - $(var tf_prefix)shoulder_lift_joint
        - $(var tf_prefix)elbow_joint
        - $(var tf_prefix)wrist_1_joint
        - $(var tf_prefix)wrist_2_joint
        - $(var tf_prefix)wrist_3_joint


    joint_trajectory_controller:
      action_ns: follow_joint_trajectory
      type: FollowJointTrajectory
      default: false
      joints:
        - $(var tf_prefix)shoulder_pan_joint
        - $(var tf_prefix)shoulder_lift_joint
        - $(var tf_prefix)elbow_joint
        - $(var tf_prefix)wrist_1_joint
        - $(var tf_prefix)wrist_2_joint
        - $(var tf_prefix)wrist_3_joint
